{% extends 'chatapp/base.html'%}
{%block title%}Chat Page{%endblock title%}
{%block content%}
<div>{{sender.username}}</div>
<div>{{reciever.username}}</div>
{%for message in messages%}
<div>{{message.sender.username}}  {{message.msg_text}}</div>
{% endfor %}
<form action="{% url 'chatapp:chatpage' sender.id reciever.id%}" method="post">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Send">
</form>
<form action="{%url 'chatapp:chatpage' sender.id reciever.id%}">
<input type="submit" value="Refresh">
</form>
{%endblock content%}