{% extends 'chatapp/base.html'%}
{%block title%}Chat Page{%endblock title%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col text-left">
            {{sender.username}}
        </div>
        <div class="col text-right">
            {{reciever.username}}
        </div>
    </div>
    {%for message in messages%}
        <div class="row">
            {%if message.sender.id == sender.id%}
                <div class="col text-right">
                    {{message.msg_text}}
                </div>
            {%else%}
                <div class="col text-left">
                    {{message.msg_text}}
                </div>
            {%endif%}
        </div>
    {% endfor %}
</div>
<form action="{% url 'chatapp:chatpage' sender.id reciever.id%}" method="post">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Send" class="btn btn-primary">
</form>
<form action="{%url 'chatapp:chatpage' sender.id reciever.id%}">
    <input type="submit" value="Refresh" class="btn btn-primary">
</form>
{%endblock content%}