{%extends 'chatapp/base.html'%}
{%block title%}Home{%endblock title%}
{%block content%}
<div class="container " id="form_container">
    <div class="row ">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <form method="post" action="{% url 'chatapp:home' %}" class="d-flex-row justify-content-center ">
                {%csrf_token%}
                {% for field in form%}
                    <div class="form-group ">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <span class=" w-100 ">
                            {{ field }}
                        </span>
                    </div>
                {%endfor%}
                <input type="submit" class="form-control form-control-sm btn btn-primary" value="Search">
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <form method="get" action="{%url 'chatapp:group_chat'%}">
            <input type="submit" value="For group chat">
        </form>
    </div>
</div>
{%endblock content%}