{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'accounts/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'accounts/css/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}{%endblock title%}</title>
    </head>
    <body>
        {% if user.is_authenticated%}

        {%else%}
            <a href="{% url 'accounts:login'%}">Login</a>
        {%endif%}
        <a href="{%url 'chatapp:home'%}">Home</a>
        {%block content%}
        {%endblock content%}
    </body>
</html>