{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'accounts/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'accounts/css/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{%block title%}{%endblock title%}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light">
          <a class="navbar-brand" href="#">ConnectPeople</a>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{%url 'chatapp:home'%}">Home</a>
                {% if user.is_authenticated%}
                    <a class="nav-item nav-link active" href="{%url 'accounts:logout'%}">Logout</a>
                {%else%}
                    <a class="nav-item nav-link active" href="{% url 'accounts:login'%}">Login</a>
                {%endif%}
            </div>
          </div>
        </nav>
        {%block content%}
        {%endblock content%}
    </body>
</html>