{%extends 'accounts/base.html'%}
{%block title%}SignUp{%endblock title%}
{%block content%}
<div class="container " id="form_container">
    <div class="row ">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <form method="post" action="{% url 'accounts:signup' %}" class="d-flex-row justify-content-center ">
                {%csrf_token%}
                {% for field in form%}
                    <div class="form-group ">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <span class=" w-100 ">
                            {{ field }}
                        </span>
                    </div>
                {%endfor%}
                <input type="submit" class="btn btn-primary" value="SignUp">
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{%endblock content%}